
  <div class="sidebar_container">
    <div class="">
      <div class="sidebar_menu">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/algorithm-products">Products</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/hr">Join us</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
