.sidebar_container{
  float: left;
  width:200px;
  height:1000px;
  background-color:#95b4ff;
  color:#333333;
}
.sidebar_menu {
  background-color:#6594ff;
}
.sidebar_menu li{
  padding-left: 5px;
  border-bottom:solid 1px #aaaaaa;
  box-sizing: border-box;
}
